{% load static %}
{% load extras %}

{% csrf_token %}

<div style="text-align: left; width:49%; display: inline-block;">
	
	<table>
	{% if player_color == "w" %}
		{% for x in board reversed %}
			<tr>
				{% for y in x %}
					<td>
					<img src="{% static y|add:'.png' %}" width="100" height="100" onclick="boardClick({{ forloop.counter0 }}, {{ 7|subtract:forloop.parentloop.counter0 }}, this);" id="{{ forloop.counter0 }}{{ 7|subtract:forloop.parentloop.counter0 }}">
					</td>
				{% endfor %}
			</tr>
		{% endfor %}

	{% else %}
		{% for x in board %}
			<tr>
			{% for y in x reversed %}
				<td>
				<img src="{% static y|add:'.png' %}" width="100" height="100" onclick="boardClick({{ 7|subtract:forloop.counter0 }}, {{ forloop.parentloop.counter0 }}, this);" id="{{ 7|subtract:forloop.counter0 }}{{ forloop.parentloop.counter0 }}">
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
	{% endif %}

	</table>

</div>

<div style="text-align: left; width:15%;  display: inline-block; ">

	<a href="{% url 'games' %}">back to games</a>
	<p>{{ game.white_player}} against {{ game.black_player }} started {{ game.start_date }}.</p>
	<div style="display: inline-block; padding-bottom: 300px;">
	</div>

	<p id="message">{{message}}</p>

	<div style="display: inline-block; padding-bottom: 200px;">
	</div>
	
	
	<div style="width:500px;height:150px;line-height:3em;overflow:auto;padding:5px;"> 
	{% for igmessage in igmessages %}
	<p>{{igmessage.sender}} {{igmessage.send_date}}: {{igmessage.message}}</p>
	{% empty %}
	<p>No messages</p>
	{% endfor %}
	</div>
	<form method="post" action="{% url 'messages' %}">
	{% csrf_token %}
	<input type="hidden" name="id" value="{{game.id}}">
	<label for="message">Send a message</label><br>
	<input type="text" required name="message"><input type="submit" value="send">
	</form>
</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
	var lastMoveFrom = "{{last_move.from_square}}";
	var lastMoveTo = "{{last_move.to_square}}";
	//hihglight opponent's move
	
	if(!lastMoveFrom == ""){
		highlightSquare(lastMoveFrom, "r");
		highlightSquare(lastMoveTo, "r");
	}
	var playersTurn = "{{players_turn}}"=="False";
	var moves = "{{moves}}".replaceAll("&#x27;", '"');
	moves = JSON.parse(moves);
	var selectedX = -1;
	var selectedY = -1;
	function boardClick(x, y){
		if(playersTurn){
			return
		}
		
		//check if the piece in the square has legal moves
		var is_legal_selection = false;
		for(move in moves){
			if(moves[move]["fromX"] == x && moves[move]["fromY"] == y){
				is_legal_selection = true;
			}
		}		
		
		//empty square selected as the first selection
		if(selectedX == -1 && (document.getElementById(x+""+y).src.includes("w.png") || document.getElementById(x+""+y).src.includes("b.png"))){
			document.getElementById("message").innerHTML = "You chose an empty square!";		
		//piece with no legal moves selected
		}else if(selectedX == -1 && !is_legal_selection){
			document.getElementById("message").innerHTML = "This piece has no legal moves";	
		//first selection
		}else if(selectedX == -1){
			//reset red squares
			removeHighlights()
		
			selectedX = x;
			selectedY = y;
			//highligh the selected piece with red
			highlightSquare(x+""+y, "r");

			//highlight possible moves with blue
			for(move in moves){
				if(moves[move]["fromX"].toString() == x && moves[move]["fromY"].toString() == y){
						highlightSquare(moves[move]["toX"]+""+moves[move]["toY"], "t");						
				}
			}
			document.getElementById("message").innerHTML = "Please select the destination.";
		
		//second selection
		}else{
			var isLegalMove = false;
			for(move in moves){
				if(moves[move]["fromX"] == selectedX && moves[move]["fromY"] == selectedY && moves[move]["toX"].toString() == x && moves[move]["toY"].toString() == y){
					isLegalMove = true;
					break;
				}
			}		
			if(isLegalMove){
				playersTurn = false;
				document.getElementById("message").innerHTML = "Waiting for oppoent's move...";
				// jquery extend function
				$.extend(
				{
					redirectPost: function(location, args)
					{
						var form = '';
						$.each( args, function( key, value ) {
							value = value.split('"').join('\"')
							form += '<input type="hidden" name="'+key+'" value="'+value+'">';
						});
						$('<form action="' + location + '" method="POST">' + form + '</form>').appendTo($(document.body)).submit();
					}
				});			
			
				var redirect = '{{ request.path }}?id={{request.GET.id}}';
				$.redirectPost(redirect, {fromX : selectedX.toString(), fromY: selectedY.toString(), toX: x.toString(), toY: y.toString()});
			}else{
				if(selectedX == x && selectedY == y){
					document.getElementById("message").innerHTML = "It's your turn";
				}else{
					document.getElementById("message").innerHTML = "Illegal move!";
				}
				
				//unhighlight the possible moves
				removeHighlights();
				//highlight opponent's move
				if(!lastMoveFrom == ""){
					highlightSquare(lastMoveFrom, "r");
					highlightSquare(lastMoveTo, "r");
				}
				selectedX = -1;
				selectedY = -1;					
			}
		}
	}
	
	//square color based on it's coordinates
	function boardColor(x, y){
		if( (y%2==1 && x%2 == 1) || (y%2==0 && x%2 == 0) ){
			return "b";
		}else{
			return "w";
		}
	}	
	
	function removeHighlights(){
		for(var a = 0; a < 8; a++){
			for(var b = 0; b < 8; b++){
				var square = document.getElementById(a+""+b).src;
				if(square.includes("r.png")){
					document.getElementById(a+""+b).src = square.replace("r", boardColor(a, b));
				}else if(square.includes("rwbishop")){
					document.getElementById(a+""+b).src = square.replace("rwbishop", boardColor(a, b) + "wbishop");
				}else if(square.includes("rbbishop")){
					document.getElementById(a+""+b).src = square.replace("rbbishop", boardColor(a, b) + "bbishop");
				}else if(square.includes("rb")){
					document.getElementById(a+""+b).src = square.replace("rb", boardColor(a, b) + "b");
				}else if(square.includes("rw")){
					document.getElementById(a+""+b).src = square.replace("rw", boardColor(a, b) + "w");
				}else if(square.includes("t.png") && !square.includes("knight.png")){
					document.getElementById(a+""+b).src = square.replace("t.png", boardColor(a, b) + ".png");
				}else if(square.includes("twbishop")){
					document.getElementById(a+""+b).src = square.replace("twbishop", boardColor(a, b) + "wbishop");
				}else if(square.includes("tbbishop")){
					document.getElementById(a+""+b).src = square.replace("tbbishop", boardColor(a, b) + "bbishop");
				}else if(square.includes("tb")){
					document.getElementById(a+""+b).src = square.replace("tb", boardColor(a, b) + "b");
				}else if(square.includes("tw")){
					document.getElementById(a+""+b).src = square.replace("tw", boardColor(a, b) + "w");
				}	
			}		
		}		
	}
	
	function highlightSquare(xy, color){
		var square = document.getElementById(xy).src
		if(square.includes("w.png")){
			document.getElementById(xy).src = square.replace("w", color);
		}else if(square.includes("b.png")){
			document.getElementById(xy).src = square.replace("b", color);
		}else if(square.includes("wwbishop")){
			document.getElementById(xy).src = square.replace("wwbishop", color + "wbishop");
		}else if(square.includes("wbbishop")){
			document.getElementById(xy).src = square.replace("wbbishop", color + "bbishop");
		}else if(square.includes("bwbishop")){
			document.getElementById(xy).src = square.replace("bwbishop", color + "wbishop");
		}else if(square.includes("bbbishop")){
			document.getElementById(xy).src = square.replace("bbbishop", color + "bbishop");
		}else if(square.includes("wb")){
			document.getElementById(xy).src = square.replace("wb", color + "b");
		}else if(square.includes("ww")){
			document.getElementById(xy).src = square.replace("ww", color + "w");
		}else if(square.includes("bb")){
			document.getElementById(xy).src = square.replace("bb", color + "b");
		}else if(square.includes("bw")){
			document.getElementById(xy).src = square.replace("bw", color + "w");
		}	
	}
	
</script>

